.container {
  display: flex;
  justify-content: center;
  /* grid-template-columns: 1fr 3fr; */
  gap: 30px;
  padding: 50px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.input-sec {
  display: grid;
  gap: 5px;
}

.input-sec .addImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline: 5px;
  /* white-space: nowrap; */
  border: 2px solid black;
  /* height: 40px; */
}

.addImg input[type="file"] {
  color: transparent;
}

.input-sec .demo-img {
  width: 100%;
  height: auto;
}

.input-sec .input-label {
  font-weight: bold;
}

.input-sec .form-text-input,
.input-sec select {
  padding: 5px;
  width: 200px;
}