.bold {
    font-weight: bold;
}

.left-side-bar {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: aliceblue;
    max-height: 100vh;
    border-right: 3px solid black;
    overflow-y: auto;
    padding-bottom: 10px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid black;
}

.account img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 10px;
}

.account .user-information {
    line-height: 150%;
    padding-right: 10px;
}

.account .user-information .user-name {
    font-size: 1.1rem;
}

.account .user-information .role {
    font-size: .8rem;
    color: gray;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    flex-direction: column;
    /* background-color: aliceblue; */
}

.categories-item {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    align-items: center;
    padding: 10px 5px 5px 15px;
    cursor: pointer;
    /* background-color: aliceblue; */
}

.categories-item .arrow svg {
    transition: all .5s;
}

.categories-item[aria-expanded="false"] .arrow>svg {
    transform: rotate(0deg);
}

.categories-item[aria-expanded="true"] .arrow>svg {
    transform: rotate(90deg);
}

.categories-item>* {
    margin-right: 15px;
    align-self: center;
}

.categories-item .category-title a {
    text-decoration: none;
    color: black;
}

.categories-item .category-title {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    align-self: center;
    color: black;
}

.categories-item .icon svg {
    width: 35px;
    height: 25px;
}

.categories .dropdown-container {
    margin-inline: 50px;
    line-height: 170%;
    /* background-color: aliceblue; */
}

.dropdown-container .item {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.dropdown-container .item svg {
    width: 8px;
}

.dropdown-container .item a {
    text-decoration: none;
}